<h2>List of Agreements</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Id:</th> -->
      <th>Interest rate:</th>
      <th>Status:</th>
      <th>Sum:</th>
      <th>Created at:</th>
      <th>Updated at:</th>
      <th>Product id:</th>
      <th>Account id:</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of agreements">
      <!-- <td>{{item.id}}</td> -->
      <td>{{item.interestRate}}</td>
      <td>{{item.status}}</td>
      <td>{{item.sum}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.updatedAt}}</td>
      <td>{{item.productId}}</td>
      <td>{{item.accountId}}</td>
      <td><button class="btn btn-warning" (click)="editAgreement(item.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteAgreement(item)">Delete</button></td>
    </tr>
  </tbody>
</table>

