<div class="container">
  <h4>CREATE NEW MANAGER</h4>
  <div class="row w-25">
    <input type="hidden" [(ngModel)]="manager.id" class="form-control">
    <div class="mb-3">
      <div class="flex_container">
        <label class="form-label" for="firstName">Firstname<span class="required">*</span>:</label>
        <div *ngIf="submitted && !manager.firstName" class="error-message">Firstname is required</div>
      </div>
      <input type="text" [(ngModel)]="manager.firstName" class="form-control">
    </div>
    <div class="mb-3">
      <div class="flex_container">
        <label class="form-label" for="lastName">Lastname<span class="required">*</span>:</label>
        <div *ngIf="submitted && !manager.lastName" class="error-message">Lastname is required</div>
      </div>
      <input type="text" [(ngModel)]="manager.lastName" class="form-control">
    </div>
    <div class="mb-3">
      <div class="flex_container">
        <label class="form-label" for="status">Status<span class="required">*</span>:</label>
        <div *ngIf="submitted && !manager.status" class="error-message">Manager`s status is required</div>
      </div>
      <select name="status" id="status" [(ngModel)]="manager.status" class="form-select">
        <option value="{{status}}" *ngFor="let status of managerStatusOptions">{{status}}</option>
      </select>
    </div>
    <div class="btn-group">
      <button (click)="submit()" class="btn btn-sm btn-primary">Save</button>
      <button (click)="clear()" class="btn btn-sm btn-secondary">Clear</button>
    </div>
  </div>
  <hr>
  <div *ngIf="done">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname:</th>
          <th>Lastname:</th>
          <th>Status:</th>
          <th>Created at:</th>
          <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{manager.firstName}}</td>
          <td>{{manager.lastName}}</td>
          <td>{{manager.status}}</td>
          <td>{{manager.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
