<div class="btn-group">
  <a routerLink="/aboutApplication" class="btn btn-secondary">ABOUT BANK APPLICATION</a>
  <button class="btn btn-info" (click)="showList()">SHOW LIST&#9660;</button>
  <button class="btn btn-secondary" (click)="showCreate()">CREATE NEW&#9660;</button>
  <button class="btn btn-primary" (click)="showHardRequest()">HARD REQUEST&#9660;</button>
</div>
<div class="list-group" id="container_first" *ngIf="isShowLists">
  <a routerLink="/listAccounts" routerLinkActive="activePage" class="list-group-item">LIST OF ACCOUNTS</a>
  <a routerLink="/listAgreements" routerLinkActive="activePage" class="list-group-item">LIST OF AGREEMENTS</a>
  <a routerLink="/listClients" routerLinkActive="activePage" class="list-group-item">LIST OF CLIENTS</a>
  <a routerLink="/listManagers" routerLinkActive="activePage" class="list-group-item">LIST OF MANAGERS</a>
  <a routerLink="/listProducts" routerLinkActive="activePage" class="list-group-item">LIST OF PRODUCTS</a>
  <a routerLink="/listTransactions" routerLinkActive="activePage" class="list-group-item">LIST OF TRANSACTIONS</a>
</div>
<div class="list-group" id="container_second" *ngIf="isShowCreate">
  <a routerLink="/createAccount" routerLinkActive="activePage" class="list-group-item">CREATE NEW ACCOUNT</a>
  <a routerLink="/createAgreement" routerLinkActive="activePage" class="list-group-item">CREATE NEW AGREEMENT</a>
  <a routerLink="/createClient" routerLinkActive="activePage" class="list-group-item">CREATE NEW CLIENT</a>
  <a routerLink="/createManager" routerLinkActive="activePage" class="list-group-item">CREATE NEW MANAGER</a>
  <a routerLink="/createProduct" routerLinkActive="activePage" class="list-group-item">CREATE NEW PRODUCT</a>
  <a routerLink="/createTransaction" routerLinkActive="activePage" class="list-group-item">CREATE NEW TRANSACTION</a>
</div>
<div class="list-group" id="container_third" *ngIf="isShowHardRequest">
  <a routerLink="/listAccountByProductIdAndStatus" routerLinkActive="activePage" class="list-group-item">LIST OF ACCOUNTS BY PRODUCT ID AND STATUS</a>
  <a routerLink="/listAgreementsByClientId" routerLinkActive="activePage" class="list-group-item">LIST OF AGREEMENTS BY CLIENT ID</a>
  <a routerLink="/listAgreementsByManagerId" routerLinkActive="activePage" class="list-group-item">LIST OF AGREEMENTS BY MANAGER ID</a>
  <a routerLink="/listClientsWithBalancaMore" routerLinkActive="activePage" class="list-group-item">LIST OF CLIENTS WITH BALANCE MORE THAN</a>
  <a routerLink="/listManagersSortedByProductLimit" routerLinkActive="activePage" class="list-group-item">LIST OF MANAGER SORTED BY PRODUCT LIMIT</a>
  <a routerLink="/listAllChangedProducts" routerLinkActive="activePage" class="list-group-item">LIST OF ALL CHANGED PRODUCTS</a>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a routerLink="/listAccounts" routerLinkActive="activePage" class="dropdown-item">LIST OF ACCOUNTS</a></li>
    <li><a routerLink="/listAgreements" routerLinkActive="activePage" class="dropdown-item">LIST OF AGREEMENTS</a></li>
    <li><a routerLink="/listClients" routerLinkActive="activePage" class="dropdown-item">LIST OF CLIENTS</a></li>
  </ul>
</div> -->
<router-outlet></router-outlet>
