<h2>List of Managers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Id:</th> -->
      <th>Firstname:</th>
      <th>Lastname:</th>
      <th>Status:</th>
      <th>Created at:</th>
      <th>Updated at:</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of managers">
      <!-- <td>{{item.id}}</td> -->
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.status}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.updatedAt}}</td>
      <td><button class="btn btn-warning" (click)="editManager(item.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteManager(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
