<h2>List of Clients</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Id:</th> -->
      <th>Status:</th>
      <th>Tax code:</th>
      <th>Firstname:</th>
      <th>Lastname:</th>
      <th>Email:</th>
      <th>Address:</th>
      <th>Phone:</th>
      <th>Created at:</th>
      <th>Updated at:</th>
      <th>Manager id:</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clients">
      <!-- <td>{{item.id}}</td> -->
      <td>{{item.status}}</td>
      <td>{{item.taxCode}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.updatedAt}}</td>
      <td>{{item.managerId}}</td>
      <td><button class="btn btn-warning" (click)="editClient(item.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteClient(item)">Delete</button></td>
    </tr>
  </tbody>
</table>

