<h2>List of Accounts</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Id:</th> -->
      <th>Name:</th>
      <th>Type:</th>
      <th>Status:</th>
      <th>Balance:</th>
      <th>Currency:</th>
      <th>Created at:</th>
      <th>Updated at:</th>
      <th>Client:</th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of accounts">
      <!-- <td>{{item.id}}</td> -->
      <td>{{item.name}}</td>
      <td>{{item.type}}</td>
      <td>{{item.status}}</td>
      <td>{{item.balance}}</td>
      <td>{{item.currencyCode}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.updatedAt}}</td>
      <td>{{item.clientId}}</td>
      <td><button class="btn btn-warning" (click)="editAccount(item.id)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteAccount(item)">Delete</button></td>
    </tr>
  </tbody>
</table>

